In [1]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Users/mike/Library/Python/3.9/lib/python/site-packages (2.1.0)
Requirement already satisfied: numpy>=1.22.4 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from pandas) (1.26.0)
Requirement already satisfied: pytz>=2020.1 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
WARNING: You are using pip version 21.1.3; however, version 23.2.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Users/mike/Library/Python/3.9/lib/python/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from requests) (3.2.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from requests) (2.0.5)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mike/Library/Python/3.9/lib/python/site-packages (from requests) (2023.7.22)
WARNING: You are using pip version 21.1.3; however, version 23.2.1 is available.
You should consider upgrading via the '/usr/local/opt/python@3.9/bin/python3.9 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import requests
import json

In [4]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=6b2ab80305deb066a4e73b0303804257"  #Make sure to change ******* to your API key.

In [5]:
html_data = requests.get(url)
html_data

In [6]:
response = json.loads(html_data.text)
response

{'success': True,
 'timestamp': 1695826443,
 'base': 'EUR',
 'date': '2023-09-27',
 'rates': {'AED': 3.861277,
  'AFN': 82.208274,
  'ALL': 106.589119,
  'AMD': 408.506826,
  'ANG': 1.896523,
  'AOA': 867.834674,
  'ARS': 367.974642,
  'AUD': 1.648483,
  'AWG': 1.894885,
  'AZN': 1.785833,
  'BAM': 1.950158,
  'BBD': 2.124752,
  'BDT': 116.045402,
  'BGN': 1.953737,
  'BHD': 0.396334,
  'BIF': 2983.127702,
  'BMD': 1.051254,
  'BND': 1.442558,
  'BOB': 7.271618,
  'BRL': 5.282762,
  'BSD': 1.052306,
  'BTC': 4.0112003e-05,
  'BTN': 87.566218,
  'BWP': 14.495859,
  'BYN': 2.656353,
  'BYR': 20604.576108,
  'BZD': 2.121233,
  'CAD': 1.421227,
  'CDF': 2622.878701,
  'CHF': 0.966433,
  'CLF': 0.034475,
  'CLP': 951.282642,
  'CNY': 7.68582,
  'COP': 4292.038329,
  'CRC': 566.633864,
  'CUC': 1.051254,
  'CUP': 27.858228,
  'CVE': 109.94694,
  'CZK': 24.364895,
  'DJF': 187.375278,
  'DKK': 7.456607,
  'DOP': 59.674532,
  'DZD': 144.596796,
  'EGP': 32.486583,
  'ERN': 15.768808,
  'ETB': 58.216619,
  'EUR': 1,
  'FJD': 2.416727,
  'FKP': 0.864204,
  'GBP': 0.866464,
  'GEL': 2.806553,
  'GGP': 0.864204,
  'GHS': 12.181182,
  'GIP': 0.864204,
  'GMD': 68.384351,
  'GNF': 9035.946341,
  'GTQ': 8.271678,
  'GYD': 220.162632,
  'HKD': 8.221909,
  'HNL': 25.949303,
  'HRK': 7.37424,
  'HTG': 142.590725,
  'HUF': 392.899308,
  'IDR': 16325.079238,
  'ILS': 4.040505,
  'IMP': 0.864204,
  'INR': 87.467425,
  'IQD': 1378.186896,
  'IRR': 44415.476581,
  'ISK': 144.904757,
  'JEP': 0.864204,
  'JMD': 162.701591,
  'JOD': 0.746185,
  'JPY': 157.111473,
  'KES': 155.533269,
  'KGS': 93.25702,
  'KHR': 4331.264309,
  'KMF': 489.831347,
  'KPW': 946.153859,
  'KRW': 1424.611932,
  'KWD': 0.325132,
  'KYD': 0.876951,
  'KZT': 504.557591,
  'LAK': 21306.350604,
  'LBP': 15816.493033,
  'LKR': 340.81731,
  'LRD': 196.060627,
  'LSL': 20.015718,
  'LTL': 3.10408,
  'LVL': 0.635893,
  'LYD': 5.144119,
  'MAD': 10.820344,
  'MDL': 19.100292,
  'MGA': 4784.930345,
  'MKD': 61.520787,
  'MMK': 2209.975345,
  'MNT': 3648.028037,
  'MOP': 8.475227,
  'MRO': 375.297455,
  'MUR': 46.779505,
  'MVR': 16.251873,
  'MWK': 1147.159618,
  'MXN': 18.569977,
  'MYR': 4.949325,
  'MZN': 66.491756,
  'NAD': 20.016024,
  'NGN': 821.555917,
  'NIO': 38.508966,
  'NOK': 11.316496,
  'NPR': 140.103371,
  'NZD': 1.77099,
  'OMR': 0.404748,
  'PAB': 1.052306,
  'PEN': 3.986578,
  'PGK': 3.830863,
  'PHP': 59.849989,
  'PKR': 303.439563,
  'PLN': 4.631039,
  'PYG': 7670.445748,
  'QAR': 3.827646,
  'RON': 4.975166,
  'RSD': 117.191702,
  'RUB': 101.708496,
  'RWF': 1285.961561,
  'SAR': 3.94352,
  'SBD': 8.813065,
  'SCR': 13.702289,
  'SDG': 631.700836,
  'SEK': 11.59573,
  'SGD': 1.442263,
  'SHP': 1.279113,
  'SLE': 23.85181,
  'SLL': 20762.264117,
  'SOS': 598.68614,
  'SSP': 632.329566,
  'SRD': 40.173141,
  'STD': 21758.832906,
  'SYP': 13668.512327,
  'SZL': 20.156403,
  'THB': 38.481112,
  'TJS': 11.560193,
  'TMT': 3.679389,
  'TND': 3.3388,
  'TOP': 2.514231,
  'TRY': 28.707745,
  'TTD': 7.142997,
  'TWD': 33.893792,
  'TZS': 2638.647749,
  'UAH': 38.856041,
  'UGX': 3951.493755,
  'USD': 1.051254,
  'UYU': 40.302644,
  'UZS': 12820.667854,
  'VEF': 3570290.918159,
  'VES': 35.795942,
  'VND': 25650.594747,
  'VUV': 127.965527,
  'WST': 2.921135,
  'XAF': 654.033873,
  'XAG': 0.046437,
  'XAU': 0.000558,
  'XCD': 2.841066,
  'XDR': 0.799698,
  'XOF': 654.06489,
  'XPF': 119.15937,
  'YER': 263.181138,
  'ZAR': 20.123732,
  'ZMK': 9462.546245,
  'ZMW': 21.80987,
  'ZWL': 338.503321}}

In [7]:
x = html_data.json()

In [8]:
x.keys()

dict_keys(['success', 'timestamp', 'base', 'date', 'rates'])

In [12]:
df = pd.DataFrame(x)
df

     success   timestamp base        date        rates
AED     True  1695826443  EUR  2023-09-27     3.861277
AFN     True  1695826443  EUR  2023-09-27    82.208274
ALL     True  1695826443  EUR  2023-09-27   106.589119
AMD     True  1695826443  EUR  2023-09-27   408.506826
ANG     True  1695826443  EUR  2023-09-27     1.896523
..       ...         ...  ...         ...          ...
YER     True  1695826443  EUR  2023-09-27   263.181138
ZAR     True  1695826443  EUR  2023-09-27    20.123732
ZMK     True  1695826443  EUR  2023-09-27  9462.546245
ZMW     True  1695826443  EUR  2023-09-27    21.809870
ZWL     True  1695826443  EUR  2023-09-27   338.503321

[170 rows x 5 columns]

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, AED to ZWL
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   success    170 non-null    bool
 1   timestamp  170 non-null    int64
 2   base       170 non-null    object
 3   date       170 non-null    object
 4   rates      170 non-null    float64
dtypes: bool(1), float64(1), int64(1), object(2)
memory usage: 10.9+ KB

In [21]:
exchange_rates = df[['rates']]
exchange_rates

       rates
AED     3.86
AFN    82.21
ALL   106.59
AMD   408.51
ANG     1.90
..       ...
YER   263.18
ZAR    20.12
ZMK  9462.55
ZMW    21.81
ZWL   338.50

[170 rows x 1 columns]

In [22]:
exchange_rates.info()

<class 'pandas.core.frame.DataFrame'>
Index: 170 entries, AED to ZWL
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rates   170 non-null    float64
dtypes: float64(1)
memory usage: 6.7+ KB

In [23]:
exchange_rates.to_csv('exchange_rates_1.csv')