In [1]:
%load_ext sql

In [2]:
import csv
import sqlite3

In [3]:
conn = sqlite3.connect('ChicagoRealWorldData.db')
cursor = conn.cursor()

In [4]:
%sql sqlite:///ChicagoRealWorldData.db

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('ChicagoCensusData.csv')
df.to_sql('CHICAGOCENSUS',conn, if_exists='replace',index=False,method='multi')

df = pd.read_csv('ChicagoCrimeData.csv')
df.to_sql('CHICAGOCRIME', conn, if_exists='replace', index=False, method='multi')

df = pd.read_csv('ChicagoPublicSchools.csv')
df.to_sql('CHICAGOPUBLICSHOOLS', conn, if_exists='replace',index=False, method='multi')

566

In [7]:
%sql SELECT NAME FROM sqlite_master WHERE TYPE = 'table';

 * sqlite:///ChicagoRealWorldData.db
Done.

[('CHICAGOCENSUS',), ('CHICAGOCRIME',), ('CHICAGOPUBLICSHOOLS',)]

## Problem 1
### List the case number, type of crime and community area for all crimes in community area number 18.

In [8]:
%sql SELECT CCD.CASE_NUMBER, CCD.PRIMARY_TYPE AS "CRIME TYPE", CC.COMMUNITY_AREA_NAME FROM CHICAGOCRIME CCD INNER JOIN CHICAGOCENSUS CC ON CCD.COMMUNITY_AREA_NUMBER = CC.COMMUNITY_AREA_NUMBER WHERE CCD.COMMUNITY_AREA_NUMBER = 18;

 * sqlite:///ChicagoRealWorldData.db
Done.

[('JA560123', 'CRIMINAL DAMAGE', 'Montclaire'),
 ('JA107722', 'OTHER OFFENSE', 'Montclaire')]

## Problem 2
## List all crimes that took place at a school. Include case number, crime type and community name

In [9]:
%sql SELECT CCD.CASE_NUMBER, CCD.PRIMARY_TYPE AS "CRIME TYPE", CC.COMMUNITY_AREA_NAME FROM CHICAGOCRIME CCD LEFT JOIN CHICAGOCENSUS CC ON CCD.COMMUNITY_AREA_NUMBER = CC.COMMUNITY_AREA_NUMBER WHERE CCD.LOCATION_DESCRIPTION LIKE 'SCHOOL%';

 * sqlite:///ChicagoRealWorldData.db
Done.

[('HL353697', 'BATTERY', 'South Shore'),
 ('HL725506', 'BATTERY', 'Lincoln Square'),
 ('HP716225', 'BATTERY', 'Douglas'),
 ('HH639427', 'BATTERY', 'Austin'),
 ('JA460432', 'BATTERY', 'Ashburn'),
 ('HS200939', 'CRIMINAL DAMAGE', 'Austin'),
 ('HK577020', 'NARCOTICS', 'Rogers Park'),
 ('HS305355', 'NARCOTICS', 'Brighton Park'),
 ('HT315369', 'ASSAULT', 'East Garfield Park'),
 ('HR585012', 'CRIMINAL TRESPASS', 'Ashburn'),
 ('HH292682', 'PUBLIC PEACE VIOLATION', None),
 ('G635735', 'PUBLIC PEACE VIOLATION', None)]